@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>错误</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>AD域服务帐号管理</h1>
        <h2></h2>
    </header>
    <section>
        <pre class="error">抱歉，处理您的请求时出错。</pre>
    </section>
    <footer>Thanks, enjoy coding!</footer>
</body>
</html>
