@{
    ViewBag.Title = "首页";
}

<ul class="details" style="margin-left: 50px;">
    <li>@Html.ActionLink("修改密码", "ChangePassword", "Account")</li>
    <li>@Html.ActionLink("查看资料", "Details", "Account")</li>
</ul>
